<h1>All our happy users</h1>

<%# Because this erb file is located in directory 'users', will_paginate expects a variable named '@users' %>
<%# Note that will_paginate creates a :page parameter in the request %>
<%= will_paginate previous_label: 'hintri', next_label: 'viri' %>

<ul class="users">
        <%# render user : This implicitly looks for a partial users/_user.html.erb %>
        <%# render @users : This implicitly iterates over @users and calls render user for each element %>
    <%= render @users %>
</ul>

<%= will_paginate %>

<%= link_to 'New User', new_user_path %>
