@mixin box-sizing0 {
  -moz-box-sizing:border-box; /* Firefox 28 and earlier */
  -webkit-box-sizing:border-box; /* Safari 3 */
  box-sizing:border-box; /* Default would be content-box */
}


input, textarea, select, .uneditable-input {
  border: 3px solid #a49d4e !important;
  width: 100% !important;
  margin-bottom:15px !important;
  @include box-sizing0;
}

input {
  height: auto !important;
}

/* SASS directive - Including the Bootstrap CSS Framework */
@import "bootstrap";

$lightGray: $grayLight; /* grayLight comes from Bootstrap */
$grayMediumLight: #eaeaea;


html {
  /*
   * scroll: content is clipped, and scrolling is provided.
   * The default value would be "visible", i.e. content is not clipped,
   * and it might be rendered outside the visible area.
   */
  overflow-y: scroll;
}

body {
  /*
   * Bootstrap puts the naviagation bar to the top of the page, because we are
   * using the class navbar-fixed-top. Therfore have to provide some space for
   * it.
   */
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  /*
   * Allows the user to resize the area. Not supported currently by IE and
   * Opera.
   */
  resize: vertical;
}

.center {
  text-align: center;
  /* SASS allows nested declarations */
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  /* &:hover in SASS is equivalent to having #logo:hover as a separate CSS rule.
   * The &: prefix refers to the parent element.
   */
  &:hover {
    color: #126651;
    text-decoration: none;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

footer {
  margin-top:45px;
  padding-top:5px;
  border-top:1px solid $grayMediumLight;
  color:$lightGray;

  a {
    color: #555;
    &:hover {
      color:$grayDarker;
      background-color:green;
    }
  }

  small { float:left; }

  ul {
    float:right;
    list-style:none;

    li {
      float:left;
      margin-left:10px;
    }
  }

} /* end of footer */

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

// Users index
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto; /* Add scrollbar if necessary */
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #6a1988;
  }
}
.content { display: block }
.timestamp { color: #f66741 }

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    border-width: 3px;
    border-color: green;
    @include box-sizing0;
}